$active-blue: #3a7cfd;
$check-dark: #25273d;
$check-white: #fff;

$checkbox-label--dark: #393a4b;
$checkbox-label--light: #ccc;

$circle: #e3e4f1;

$dad-dark: #5b5e7e;
$dad-light: #9495a5;

$dark--grey: #5b5e7e;

$footer-border: #e3e4f1;
$footer--light: #9495a5;

$hover-grey: #494c6b;

$item-completed--dark: #4d5067;
$item-completed--light: #d1d2da;

$item--dark-background: #25273d;
$item--dark-border: #393a4b;
$item--dark-color: #c8cbe7;

$item--light-background: white;
$item--light-background: white;
$item--light-border: #e3e4f1;
$item--light-color: #494c6b;

$light--grey: #9495a5;
$linear-blue: #55ddff;
$linear-purple: #c058f3;

$title--light-background: #fff;
$title--light-color: #9495a5;
$title--dark-background: #25273d;
$title--dark-color: #5b5e7e;

$todo-dark: #171823;
$todo-light: #fafafa;

$black: black;
$white: #fff;
