@use "abstracts/variables" as *;
@use "abstracts/mixins" as *;

body {
  background-color: #fafafa;
  font-family: "Josefin Sans", sans-serif;
  font-size: 12px;
}

.button {
  &--theme-change {
    background: none;
    border: none;
  }

  &--footer {
    background: none;
    color: #9495a5;
    font-family: "Josefin Sans", sans-serif;
    border: none;

    &:active {
      color: #3a7cfd;
    }

    &:hover {
      color: #494c6b;
      cursor: pointer;
    }
  }
}

.check {
  left: 27px;
  position: absolute;
  top: 20px;
}

.circle {
  border: 1px solid #e3e4f1;
  border-radius: 50%;
  bottom: 20px;
  height: 22px;
  left: 24px;
  margin: auto;
  position: absolute;
  width: 22px;
}

.cross {
  position: absolute;
  right: 20px;
  top: 17px;
}

.new-todo {
  margin-left: 24px;

  &::placeholder {
    font-family: "Josefin Sans", sans-serif;
  }

  &:focus {
    outline: none;
    transform: scale(1.08);
  }
}

.round {
  position: relative;

  & label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 22px;
    width: 22px;
  }

  & input[type="checkbox"] {
    visibility: hidden;
  }

  & input[type="checkbox"]:checked + label {
    background: linear-gradient(165deg, #55ddff, #c058f3);
  }

  & input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }

  .label-checked {
    background: linear-gradient(165deg, #55ddff, #c058f3);
    border: 1px solid white;
    opacity: 1;
  }

  & span {
    padding-left: 24px;
  }
}

.todo {
  &-app {
    background: none;
    border-radius: 5px;
    font-family: "Josefin Sans", sans-serif;

    margin: 0 auto;
    width: 327px;
    position: absolute;
    right: 50%;
    top: 123px;
    transform: translateX(50%);
  }

  &-footer {
    @include respond(l) {
      border-bottom: 1px solid #e3e4f1;
      padding: 0 24px;
    }

    &--buttons {
      align-items: center;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0px -6px 20px -17px black;
      display: flex;
      height: 48px;
      justify-content: space-between;
      list-style: none;
      margin-top: 16px;
      padding: 0 80px;
    }

    &--buttons-container {
      padding: 0;
    }

    &--completed {
      align-items: center;
      border-radius: 0 5px 5px 0;
      display: flex;
      overflow: hidden;
      justify-content: space-between;
      width: 100%;
    }

    &--completed-container {
      padding: 0 20px;
    }

    &--clear {
      display: flex;
    }

    &--light {
      background-color: #fff;
      box-shadow: 0px 11px 20px -22px rgba(0, 0, 0, 0.8);
      color: #9495a5;
      letter-spacing: -0.17px;
      margin: 0;
    }
  }

  &-header {
    position: relative;
  }

  &-item {
    align-items: center;
    background: white;
    border-bottom: 1px solid #e3e4f1;
    display: flex;
    height: 48px;
    justify-content: flex-start;
  }

  &-list {
    border-radius: 5px;
    list-style: none;
    margin-bottom: 0;
    overflow: hidden;
    padding: 0;
  }

  &-new {
    align-items: center;
    background: white;
    border-radius: 5px;
    display: flex;
    height: 48px;
    list-style: none;

    input {
      border: none;
    }
  }

  &-title {
    align-items: center;
    color: $white;
    display: flex;
    font-size: 20px;
    justify-content: space-around;
    letter-spacing: 15px;
    position: absolute;
    right: 50%;
    top: 48px;
    transform: translateX(50%);
    width: 100vh;

    h1 {
      margin: 0;
      font-size: 30px;
    }
  }
}
