@use "abstracts/variables" as *;
@use "abstracts/mixins" as *;

.button {
  &--theme-change {
    background: none;
    border: none;
  }

  &--footer {
    background: none;
    color: #9495a5;
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    border: none;

    &:active {
      color: #3a7cfd;
    }

    &:hover {
      color: #494c6b;
      cursor: pointer;
    }
  }
}

.circle {
  border: 1px solid #e3e4f1;
  border-radius: 50%;
  bottom: 20px;
  height: 22px;
  left: 24px;
  margin: auto;
  position: absolute;
  width: 22px;
}

.cross {
  position: absolute;
  right: 20px;
  top: 17px;
}

.round {
  position: relative;

  & label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 22px;
    width: 22px;
  }

  & input[type="checkbox"] {
    visibility: hidden;
  }

  & input[type="checkbox"]:checked + label {
    background: linear-gradient(165deg, #55ddff, #c058f3);
  }

  & input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }

  .label-checked {
    background: linear-gradient(165deg, #55ddff, #c058f3);
    border: 1px solid white;
    opacity: 1;
  }

  & span {
    padding-left: 24px;
  }
}

.todo {
  &-app {
    background: none;
    border-radius: 5px;
    box-shadow: 2px 46px 148px -64px rgba(0, 0, 0, 0.8);
    font-family: "Josefin Sans", sans-serif;
    left: 24px;
    margin: 0 auto;
    width: 327px;
    position: absolute;
    top: 123px;
  }

  &-footer {
    align-items: center;
    border-bottom: 1px solid #e3e4f1;
    box-shadow: 2px 46px 148px -64px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    justify-content: space-between;

    @include respond(l) {
      padding: 0 24px;
    }

    &--buttons {
      align-items: center;
      display: flex;
      height: 48px;
      justify-content: space-between;
    }

    &--clear {
      display: flex;
    }

    &--light {
      box-shadow: 2px 46px 148px -64px rgba(0, 0, 0, 0.8);
      color: #9495a5;
      letter-spacing: -0.17px;
      padding: 0 20px;
    }
  }

  &-header {
    position: relative;
  }

  &-item {
    align-items: center;
    background: white;
    border-bottom: 1px solid #e3e4f1;
    display: flex;
    height: 48px;
    justify-content: flex-start;
  }

  &-list {
    border-radius: 5px;
    list-style: none;
    overflow: hidden;
    padding: 0;
  }

  &-new {
    align-items: center;
    background: white;
    border-radius: 5px;
    display: flex;
    height: 48px;
    list-style: none;

    input {
      border: none;
    }
  }

  &-title {
    align-items: center;
    color: $white;
    display: flex;
    font-size: 20px;
    justify-content: space-around;
    letter-spacing: 15px;
    position: absolute;
    top: 48px;
    width: 100vh;

    h1 {
      margin: 0;
      font-size: 30px;
    }
  }
}
