.todo {
  &-app {
    border-radius: 5px;
    position: absolute;
    right: 50%;
    top: 154px;
    transform: translateX(50%);
  }

  &-list {
    border-radius: 5px;
    box-shadow: 2px 46px 148px -64px rgba(0, 0, 0, 0.8);
    list-style: none;
    margin-left: 34px;
    margin-top: 24px;
    overflow: hidden;
    padding: 0;
  }
}
